@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/*::::nav*/
*{
    margin: 0%;
    padding: 0%;
    /*box-sizing: border-box;*/
    font-family: 'Source Sans Pro', sans-serif;
  }
  .container {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(/static/img/fondo\ negro.jpg);
  } 
  .var {
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(/static/img/fondo\ negro.jpg);
  }
  .navbar {
    width: 100%;
    margin: auto;
    padding:  35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .logo {
    width:  200px;
    cursor: pointer;
  }
  .navbar > ul > li {
    list-style: none;
    display: inline-block;
    margin:  0 30px;
    position: relative;
  }
  .navbar > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }
  .navbar > ul > li::before {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    transition: all 300ms ease;
  }
  .navbar > ul > li > a:hover {
    transform: scale(1.1);
    width:  100%;
    background: #898AA6;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px -1px 10px 6px #C9BBCF;
  }
  .navbar ul li ul{
    width: 200px;
    display: flex;
    flex-direction:  column;
    background-color: #F2D7D9;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10px;  
    transition: all 300ms ease;
    border-radius: 20px;
}
.navbar ul li:hover ul{
    visibility: visible;
    opacity:  1;
    top: 70px;
}
.navbar ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top:  -12px;
    left: 20px;
}
.navbar ul li ul li a{
    display: block;
    color: black;
    padding: 1px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 10px;
    text-transform: uppercase;
    transition:  all 200ms ease;
    text-decoration: none;
}
.navbar ul li ul li a:hover{
    background:rgba(90, 40, 90, 0.80);
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)
}
.exit{
    width: 50px;
}
*@media screen and (max-width: 720px){
    .logo img{
        width: 200px;
    }
    nav > ul {
        flex-direction: column;
        background-color: #F9CEEE;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 300px;
        transition:  all 300ms ease;
        z-index: 100;
        opacity: 1;
        visibility: hidden;
    }
}

/*::::Pie de pagina*/
@import url(https://fonts.googleapis.com/css?family==Poppis:200,300,400,500,600,700,800,900&display=swap´);

footer{
    position: relative;
    width: 100%;
    background: #898AA6;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}
figure{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
    
}
.redes{
    width: 50px;
}
figure:hover{
    transform: translateY(-10px);
}
.menu{
    width: 50%;
    margin: auto;
    padding:  15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    text-decoration:none;
    font-size: 12px;
    color: black;
}
footer p {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    background: url(/static/img/wave.png);
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10x;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 999;
    opacity: 0.2;
    bottom: 15x;
    animation: animateWave_03 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 0x;
    animation: animateWave_04 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animateWave_03
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animateWave_04
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/*::::Hasta aqui el pie de página */

h1{
    color: #fff;
    text-align: center;
}

.imagen{
    width: 230px;
    margin-left: 900px;
    margin-top: 10px;
    animation: move-vector 2s linear infinite;
}
@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}